[submodule "proxy/ilr_proxy-submodule"]
	path = proxy/ilr_proxy-submodule
	url = https://github.com/ilrWebServices/ilr_proxy.git
	branch = .
[submodule "drupal8/ilr-submodule"]
	path = drupal8/ilr-submodule
	url = https://github.com/ilrWebServices/ilr.git
	branch = .
